*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

img{
    border-radius: 2%;
}

#photoContainer > img{
    width: 64px;
}

#photoContainer{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

body{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: rgb(211, 211, 211);
    border-width: 0;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
}
button:hover{
    background-color: rgb(194, 194, 194);
    border-width: 0;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
}
